.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  /* outline: none; */
}

.btn:hover {
  color: yellow;
  border: 2px solid yellow;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: white;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}
